doctype html
html(lang="en")
head
  title friendsApp
  base(href="/")
  link(rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="vendor/bootstrap.min.css")
  link(rel="stylesheet", href="vendor/custom.css")
body(ng-app='friendsApp')
  include includedView

  script(src='vendor/jquery/dist/jquery.min.js')
  script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
  script(src='vendor/angular/angular.js')
  script(src='vendor/angular-route/angular-route.js')
  script(src='vendor/angular-resource/angular-resource.js')
  script(src='vendor/angular-messages/angular-messages.js')
  script(src='ngCore.js')
  script(src='ngControllers.js')
  script(src='ngFactories.js')
  script(src='ngFilters.js')
  
