.container
  .col-sm-3
    ul.nav.nav-pills.nav-stacked
      li.active
        a(href="/") Profile
      li
        a(href="/friends") Friends
      li
        a(href="/search") Search
      li
        a(href="/logout") Log Out
  .ng-view.col-sm-9
